<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Media Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Media Dashboard</h1>
    </header>
    <main>
      <div class="container">
        <a href="/videos">
        <div class="card">
          <div class="card-image">
            <i class="fa fa-video-camera"></i>
          </div>
          <div class="card-text">
            <h2>Videos</h2>
          </div>
        </div>
        </a>

        <a href="/music">
        <div class="card">
          <div class="card-image">
            <i class="fa fa-music"></i>
          </div>
          <div class="card-text">
            <h2>Music</h2>
          </div>
        </div>
        </a>

        <a href="/pictures">
        <div class="card">
          <div class="card-image">
            <i class="fa fa-camera"></i>
          </div>
          <div class="card-text">
            <h2>Pictures</h2>
          </div>
        </div>
        </a>
      </div>
    </main>
  </body>
</html>
