<!DOCTYPE html>
<html>
  <head>
    <title>File Upload</title>
    <link rel="stylesheet" type="text/css" href="/static/upload-styles.css">
  </head>
  <body>
    <h1>Upload Media</h1>
    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
      <div class="upload-section">
        <label for="file-input" id="label">Select a file to upload:</label>
        <input type="file" name="file" id="file-input">
      </div>
      <div class="drop-section">
        <label>Or drag and drop a file here:</label>
        <div id="drop-zone">
          <span class="drop-message">Drop file here</span>
        </div>
      </div>
      <button type="submit" id="upload-button" disabled>Upload! </button>
    </form>

    <script>
      var form = document.getElementById("upload-form");
      var fileInput = document.getElementById("file-input");
      var dropZone = document.getElementById("drop-zone");
      var uploadButton = document.getElementById('upload-button');

      // Prevent default drag behaviors
      ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropZone.addEventListener(eventName, preventDefaults, false);
        document.body.addEventListener(eventName, preventDefaults, false);
      });

      // Highlight drop zone when a file is dragged over it
      ['dragenter', 'dragover'].forEach(eventName => {
        dropZone.addEventListener(eventName, highlight, false);
      });

      // Unhighlight drop zone when a file is dragged away from it
      ['dragleave', 'drop'].forEach(eventName => {
        dropZone.addEventListener(eventName, unhighlight, false);
      });

      // Handle dropped files
      dropZone.addEventListener('drop', handleDrop, false);

      function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
      }

      function highlight(e) {
        dropZone.classList.add('highlight');
      }

      function unhighlight(e) {
        dropZone.classList.remove('highlight');
      }

      function handleDrop(e) {
        var dt = e.dataTransfer;
        var files = dt.files;

        handleFiles(files);
      }

      function handleFiles(files) {
        fileInput.files = files;
      }

      function displayFileName() {
            const fileInput = document.getElementById('file-input');
            const label = document.getElementById('label');
            const submitButton = document.getElementById('upload-button');

            if (fileInput.value) {
                const fileName = fileInput.value.split('\\').pop();
                label.innerText = fileName;
                submitButton.disabled = false;
            } else {
                label.innerText = 'Select a file';
                submitButton.disabled = true;
            }
        }

    fileInput.addEventListener('change', () => {
        if (fileInput.value) {
          uploadButton.removeAttribute('disabled');
          displayFileName();
        } else {
          uploadButton.setAttribute('disabled', true);
        }
        
      });
    </script>
  </body>
</html>