body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    background-color: #1d1f20;
    color: #fff;
  }
  
  h1 {
    margin-top: 50px;
    font-size: 48px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  form {
    margin-top: 50px;
    display: inline-block;
    padding: 20px;
    border: 2px solid #9D00FF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 108, 0, 0.5);
    background-color: #1d1f20;
  }
  
  .upload-section {
    margin-bottom: 20px;
  }
  
  label[for="file-input"] {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  #file-input {
    display: none;
  }
  
  .drop-section {
    margin-top: 20px;
  }
  
  #drop-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    border: 2px dashed #FF5F1F;
    border-radius: 10px;
  }
  
  .drop-message {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }

  button[type="submit"] {
    background-color: #39FF14;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(255, 108, 0, 0.5);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(65, 105, 225, 0.5);
  }
  